<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcessoBD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AcessoBD.Properties.Settings.StringConexao" connectionString="Data Source=DESKTOP-S8I0R6I;Initial Catalog=BD_SPULF;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <AcessoBD.Properties.Settings>
            <setting name="m" serializeAs="String">
                <value />
            </setting>
        </AcessoBD.Properties.Settings>
    </userSettings>
</configuration>